:root{
    --attack-width: 90px; 
    --defense-width: 60px;
  }

/* sidebar */
.sidebar {
    width: 15%;
    background-color: #4D4B4C;
    position: relative;
}

.up {
    position: absolute;
    height: 40%;
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    color: aliceblue;
    font-size: x-large;
}

.down {
    position: absolute;
    height: 40%;
    width: 100%;
    bottom: 15%;
    padding-top: 10px;
    padding-left: 20px;
    color: aliceblue;
    font-size: x-large;
}

/* right part */
.right {
    width: 85%;
}

.board {
    height: 65%;
}

.board .info {
    width: 25%;
    position: relative;
}

.board .anim {
    width: 50%;
}

.board .button {
    width: 25%;
    padding: 30px;
}

.clickButton {
    width: 100px;
    font-size: x-large;
    border-radius: 25px;
    padding: 3px;
    border: 0;
    align-self: center;
    margin: 15px;
}

.timeline {
    height:25%;
    overflow-x: auto;
    position: relative;
    border-top: 2px gray solid;
}

/* block decoration */
.box {
    padding: 10px;
    height: 100%;
    justify-content: space-around;
    font-size: large;
}

.label {
    width: fit-content;
    border-radius: 0.8ch;
    padding: 3px;
    border: 0;
}

.block {
    display: inline-block;
    /* width: 70px; */
    position: absolute;
}

.a {
    background-color: dodgerblue;
    color: white;
}

.b {
    background-color: #4A4AFF;
    color: white;
}

.c {
    background-color: rgb(107, 255, 248);
    color: black;
}

.d {
    background-color: darkcyan;
    color: white;
}

.e {
    background-color: magenta;
    color: white;
}

.f {
    background-color: darkorchid;
    color: white;
}

.g {
    background-color: khaki;
    color: black;
}

.h {
    background-color: orange;
    color: black;
}

.i {
    background-color: greenyellow;
    color: black;
}

.j {
    background-color: darkgreen;
    color: white;
}

.k {
    background-color: pink;
    color: black;
}

.l {
    background-color: crimson;
    color: white;
}

.block.a {
    width: var(--defense-width);
}
.block.b {
    width: var(--defense-width);
}
.block.c {
    width: var(--defense-width);
}
.block.d {
    width: var(--defense-width);
}
.block.e {
    width: var(--defense-width);
}
.block.f {
    width: var(--defense-width);
}
.block.g {
    width: var(--attack-width);
}
.block.h {
    width: var(--attack-width);
}
.block.i {
    width: var(--attack-width);
}
.block.j {
    width: var(--attack-width);
}
.block.k {
    width: var(--attack-width);
}
.block.l {
    width: var(--attack-width);
}