.bar {
    width: 100%;
    font-size: large;
}

.brand {
    width: 40%;
}

.others {
    width: 60%;
}

#others_2 {
    justify-content: left;
}

#list {
    padding-left: 2rem;
    padding-right: 2rem;
}

#record {
    padding-left: 2rem;
    padding-right: 2rem;
}

#userName {
    padding-left: 2rem;
    padding-right: 2rem;
    /* padding-left: 32rem; */
}

/* color */
#headBar {
    background-color: #3A3E46;
}

/* select */
.nav-select {
    color: #F3B61B !important;
    font-weight: bold;
    border-top: 5px solid #F3B61B;
}